* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
}

html {
}

body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  font-size: 7vmin;
}

section:nth-child(odd) {
  justify-content: flex-start;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background-color: #112b3c;
  border-bottom: 1px solid #fff;
  z-index: 1;
  color: #fff;
}

.site-header .container {
  min-height: 75px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

h1 {
  font-size: 42px;
  max-width: 525px;
}

h2 {
  font-size: 32px;
}

.span--color {
  color: #f66b0e;
}
